@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: auto;margin-left: -144px;text-align: left;overflow: hidden;
  box-shadow: 1px 2px 1px 0 rgba(136,148,171,.5),0 24px 20px -24px rgba(71,82,107,.1);
  font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 288px;height: auto;border-radius: 10px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;
  background-color:white;padding-right:8px;
  -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; background-size: 200%;color:#96B7BB;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {width:288px;margin-right:0px;padding-top:5px;padding-bottom:5px;height: 30px;font-size: 18px;font-weight: bold;text-align:center;color:black;
background-color:#96B7BB;}
.info .close {position: absolute;top: 5px;right: 10px;color: #888;width: 25px;height: 25px;background-image: url('x.png');background-size:cover;
background-color:#96B7BB;border: none;}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;height:auto;overflow:visible;white-space: normal;padding-bottom:10px;}
.info .desc {position: relative;text-align:center;padding-top:120px;overflow:visible;white-space: normal;}
.desc .tele {font-size: 11px;color: #888;margin-bottom:2px;background-color: white;float:left;border:solid 1px #96B7BB;
border-radius: 20px;padding:2px;width:131px;height:40px;margin-left:3px;}
.desc .ellipsis {width:131px;height:40px;overflow: hidden;text-overflow: ellipsis;white-space: normal;float:left;background-color: white;
border-radius: 20px;padding:2px;border:solid 1px #96B7BB;margin-left:5px;}
.desc .tag{width:45px;height:26px;border-radius:10px;bottom:-3px;display: inline-block;padding-left:10px;padding-right:10px;
  background-color:#e3edef;color:#686464;margin-left:0;margin-top:10px;margin-right:2pt;margin-bottom:3pt;font-size:10px;}
.desc .tag::before{display:none;}
.desc .tag::after{display:none;}
.desc .tele .call_pic{width:15px;height:auto;float:left;background-color: white;border-radius: 70%;margin-top:5px;margin-left:10px;}
.desc .tele .clear{clear:both;}
.desc .tele .call{color:black;float:left;margin-top:3px;margin-left:4px;font-weight: bold;font-size:14px;}
.desc .tele .call_info{color:black;float:left;margin-left:3px;margin-left:10px;}
.desc .ellipsis .address_pic{width:15px;height:auto;float:left;margin-top:5px;margin-left:10px;}
.desc .ellipsis .address{float:left;text-align: left;margin-left:2px;color:black;margin-top:3px;font-weight: bold;font-size:14px;}
.desc .ellipsis .address_info{width:85px;float:left;text-align: left;margin-left:2px;font-size:3px;overflow: visible;white-space: normal;
  color:black;margin-bottom:3px;margin-left:10px;}
/* .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;} */
.info .img {position: absolute;top:20px;left:106.5px;text-align: center;width: 73px;height: 71px;border: 1px solid #96B7BB;color: #888;overflow:visible;white-space: normal;border-radius:70%;background-color:white;}
/* .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')} */
.info .link {color: #5085BB;}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #e3edef;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 6px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-left:8pt;
  font-size:10pt;
}

.tag::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: white;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #e3edef;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
#food:hover {
  background-color: #CFE5CE;
  color: white;
}

#food:hover::after {
   border-left-color: #CFE5CE;
}
#food:focus{
  background-color:#CFE5CE;
  color:white;
}
#food:focus::after{
  border-left-color:#CFE5CE;
}
#up:hover {
  background-color: #7FB792;
  color: white;
}

#up:hover::after {
   border-left-color: #7FB792;
}
#up:focus{
  background-color:#7FB792;
  color:white;
}
#up:focus::after{
  border-left-color:#7FB792;
}
#beauty:hover {
  background-color: #C0CA74;
  color: white;
}

#beauty:hover::after {
   border-left-color: #C0CA74;
}
#beauty:focus{
  background-color:#C0CA74;
  color:white;
}
#beauty:focus::after{
  border-left-color:#C0CA74;
}
#zero:hover {
  background-color: #96B7BB;
  color: white;
}

#zero:hover::after {
   border-left-color: #96B7BB;
}
#zero:focus{
  background-color:#96B7BB;
  color:white;
}
#zero:focus::after{
  border-left-color:#96B7BB;
}
.search-wrapper {
  border-radius: 20px;
  background-color: white;
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 5px 10px 10px 0 rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
  overflow: hidden;

 .dark & { box-shadow: none; }
}

.search-input {
 border: none;
 flex: 1;
 outline: none;
 height: 100%;
 padding: 0 20px;
 font-size: 16px;
 background-color: white;
 color: #747c72;

 &:placeholder {
   color: #747c72;
   opacity: .6;
 }
}

/*contain 꾸미기*/
#contain{

}
.left{
  position: relative;
  top:45%;
  width:50%;
  height:auto;
  margin:0;
  margin-left:25%;
  display:none;
}
.left_letter{
  position: relative;
  top:45%;
  color:#96B7BB;
  margin:0;
  margin-bottom:30%;
  text-align: center;
  font-size: 10pt;
}
.left-right{
  width:20vw;
  height:80vh;
  margin:0;
  padding:0;
  float:right;
  position:absolute;
  left:2vw;
  top:10vh;
  background-color:#e3edef;
}
body{
  background-color:#e3edef;
}
h2{
  color:#3A3E4A;
  text-align: center;
}
.tag_group{
  width:100%;
  margin-top:1vh;
  background-color:white;
  padding:1pt;
  border-radius:20px;
  box-shadow: 0 5px 8px 2px rgba(136,148,171,.2),0 24px 20px -24px rgba(71,82,107,.1);
}
.selectBox {
  position: relative;
  width: 100%;
  height: 25px;
  border-radius: 4px;
  border: 2px solid #3A3E4A;
  background-color:#3A3E4A;
  color:white;
  margin-bottom:1vh;
}
.selectBox .select {
  width: inherit;
  height: inherit;
  background-color:#3A3E4A;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3; // select가 위로 올라와야 함
  color:white;
  font-size: 12px;
}
.selectBox .select option {
  background: #3A3E4A;
  color: #fff;
  padding: 3px 0;
  font-size: 12px;
}
.selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
  transition: .3s; // 부드럽게 회전
}

.selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}
.main_menu_map {
  margin: 0;
  position: fixed;
  top:0;
  width: 100%;
  height: 9vh;
  background-color: #d0e2e4;
  font-family: 'S-CoreDream-3Light';
}
#logo2{
  position:relative;
  float:left;
  margin-left: 10px;
  margin-top: 5px;
  width: 110px;
  height: auto;

}
.header {
  position: relative;
  float: left;
  padding: 0 0 0 8%;
  overflow: hidden;
}
.header-top{
  list-style: none;
  padding-top: 0px;
  padding-left:100vh;
}
.a{
  vertical-align: middle;
  display: table-cell;
  float:right;
}
.a:link {
  color: black;
  text-decoration: none;
}
.a:visited {
  color: black;
  text-decoration: none;
}
